<!DOCTYPE html>

<!-- Red Wings | Daniel Sooknanan, Cameron Nelson, Sophie Liu
SoftDev
Oct 2021  -->

<html>
  <head>
    <title> WELCOME </title>
    <link rel="stylesheet" href="../static/css/style.css">

  </head>
  <body>
    <div class="layout-container">
      <h1>
        Aloha {{ username }}! What's the dog doing?
      </h1>
    </div>

    <div class="footer">
      <span class="team">Red Wings</span>
      <span>Daniel Sooknanan, Cameron Nelson, Sophie Liu</span>
    </div>
  </body>
</html>